nav{
    width: 100vw;
    height: auto;
    display: flex;
    background-color: rgb(77, 77, 133);
    padding: 10px;
    align-items: center;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: aliceblue;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
}