main{
    display: flex;
    width: 100%;
    gap: 6%;
}

.filter{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 15%;
    margin-left: 3%;
}

.products{
    width: 85%;
}

.filter-title{
    color: blue;
}

.filter-use-condition input{
    margin-left: 10px;
}