<main>
    <div class="filter">
        <div class="filter-price">
            <span class="filter-title">Filtrar por preço</span>
            <div>
                <label for="de">De:</label>
                <input type="number" name="de">
            </div>
            <div>
                <label for="ate">até:</label>
                <input type="number" name="ate">
            </div>
        </div>

        <div class="filter-seller">
           <span class="filter-title">Filtrar por Vendedor:</span>
           <div>
            <label for="name">Vendedor:</label>
            <input type="text" name="name" id="">
           </div>
        </div>

        <div class="filter-use-condition">
            <span class="filter-title">Condição de uso:</span>
            <div>
                <label for="new">Novos</label>
                <input type="checkbox" name="new" id="">
            </div>
            <div>
                <label for="used">Usados</label>
                <input type="checkbox" name="used" id="">
            </div>
        </div>

        <button class="btn btn-primary">Filtrar</button>
    </div>

    <div class="products">
        <app-product-item [sapato]="sapatos"></app-product-item>
    </div>
    
</main>
