/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap-icons';

app-root{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100vw;
    background-color: aliceblue;
}

