
<div class="container">
<div class="products" *ngFor="let item of sapato">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{item.img}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">{{item.description}}</p>
          <p class="card-text">{{item.price | currency: 'BRL'}} |
            <a href="#">Vendedor: {{item.seller}}</a>
          </p>
          <div class="actions">
            <a href="#" class="btn btn-success">Comprar</a>
            <i [ngClass]="{'bi-heart-fill': item.like, 'bi-heart': !item.like}" 
             (click)="like(item.id)">
            </i>
          </div>
        </div>
      </div>
</div>
</div>


